@media screen and (max-width: 576px) {


    .logo h3{
    
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 3.2rem;
        color: var(--heading-color);
        
        }

     .hero-text h1{
            color: var(--heading-color);
            font-size: 4.4rem;
            font-weight: 700;
            line-height: 6.5rem;
        
        
        }


    .hero-text p{
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
}





.header-menu ul li a{
    
    margin-left: 2.0rem;
}

.header-menu ul li{
    list-style: none;
    display: inline;
    margin-right: 2.0rem;
}

.hero-container{
  
    padding: 10px;
}





/* features section responsive  */


.features-container{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    padding: 0px 10px;
    flex-basis: 100%;
 }



 .features-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
    flex-basis: 100%;
    padding: 0px 10px;


 }

 .orange-div{
    background-color: var(--primary-color);
    width: 5px;
    height: 90px;
}
.features-title h2{
   
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5.2rem;
    
    

}


 .features-right2 img{
    width: 90%;
    height: 90%;
 }



 /* some fact mobile  */

 .facts-heading{
    margin-top: 100px;
    margin-left: 30px;
}
.facts-heading h2{


    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.2rem;
    margin-bottom: 15px;
    
    
    }


    .some-fact-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
        padding: 0px 30px;
    
    }




    /* sponser section style start  */


    .sponser-section{
        margin-top: 100px;
        
    
    }

.sponser-heading h2{

font-size: 3.5rem;
font-weight: 700;
line-height: 4.2rem;
color: var(--heading-color);


}
.sponser-heading p{
    margin: 15px 10px 50px 10px;
    width: auto;
}

.sponser-logos{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 130px;
    margin-left: 20px;
    
}





}


