*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --primary-font:"Work Sans", sans-serif;
    /* --secondary-font:"Poppins", sans-serif; */

    --heading-color:#131313;
    --text-color:#727272;

    
    --primary-color:#FF900E;
    --secondary-color:#FF900E1A;
    


    font-size: 10px;

}
body{
    font-family: var(--primary-font);
    background-color: #FFFFFF;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #727272;

}

p{
    font-size: 1.6rem;
    color: #727272;
    line-height: 2.6rem;
}

/* header style start */


.container{
    max-width: 1170px;
    margin: 0 auto;
}



/* header style start  */

.main-header{
    background-color: var(--secondary-color);
    padding-top: 40px;
}

.logo h3{
    
font-size: 4.5rem;
font-weight: 700;
line-height: 5.2rem;
color: var(--heading-color);

}
.header-menu ul li{
    list-style: none;
    display: inline;
    margin-right: 4.0rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 /* header style end  */


 /* hero section style start  */

 .hero-container{
    margin: auto;
    text-align: center;
 }
.hero-text h1{
    color: var(--heading-color);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.5rem;


}
.hero-text p{
    max-width: 850px;
    margin: auto;
    margin-top: 20px;
}

.primary-btn{
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 2.0rem 2.5rem;
    border: none;
    font-size: 2.0rem;
    font-weight: 600;
    border-radius: 8px;
    
}

.hero-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    padding: 50px;
}

 /* hero section style end  */


 /* Our Features style start  */


 .features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    padding: 0px 50px;
    flex-basis: 100%;
 }

 .features-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    flex-basis: 55%;
    
 }
 .features-right{
    display:flex;
    flex-direction: column;
    
    gap: 32px;
    flex-basis: 45%;
    
 }

 .features-span{
color: #727272;
font-size: 4.5rem;
font-weight: 500;
line-height: 5.2rem;


 }
 .our-span{
    
font-size: 4.5rem;
font-weight: 700;
line-height: 5.0rem;
color: var(--heading-color);

 }

 .features-heading h2{
    font-size: 4.5rem;
font-weight: 700;
line-height: 5.0rem;
color: var(--primary-color);
 }

 .features-right p{

    margin-bottom: 20px;
 }





 .features-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
    flex-basis: 100%;

 }


 .features-title{
    display: flex;
    gap: 20px;
 }
.orange-div{
    background-color: var(--primary-color);
    width: 6px;
    height: 106px;
}

.features-enjoy{
    margin: 20px 0px;
}





 .features-title h2{
   
font-size: 4.5rem;
font-weight: 700;
line-height: 5.2rem;


 }


 .features-left2{
    flex-basis: 100%;
    

 }
.features-right2{
    flex-basis: 100%;
   




}

.features-right2 img{
    width: 700px;
    height: 900px;
}

.features-card{
    box-shadow: 0px 4px 30px 0px #0000000F;
    padding: 30px;
    margin-top: 20px;

}
.features-card h3{

font-size: 2.0rem;
font-weight: 600;
line-height: 2.3rem;
margin-bottom: 10px;

}




 /* Our Features style end  */